
{% set path_set = addTwigPath( "applications.Surveys.generalviews.survey") %}

{% if item.survey_id %}
    <br>
    <div class="article-survey-form">
        {% include "user.survey.twig" ignore missing with {'survey_id': item.survey_id} %}
    </div>
{% endif %}
