{% set domain_url = get_context('domain_url') %}
{% set item = get_context('item') %}
<a class="btn btn-success" href="{{ item.return_url }}" title="Go Back To Detail Page">
    <span class="glyphicon glyphicon-dashboard"></span>
    Go Back To Detail Page
</a>



