<div class="form-group highlight element-wrapper" element_type="editor">
    <label for="editor_id">Editor Label</label>
    <textarea class="form-control kazist-editor" placeholder="Editor Text" id="editor_id"></textarea>
</div>