*.DS_Store
*.log
*.zip
/cache/
/nbproject/
/kazisearchlib/
/test/
/tests/
/uploads/
/vendor/
/viewerjs/
TODO
/applications/*
!/application/Contacts
!/application/Media
!/application/Notification
!/application/Search
!/application/Setup
!/application/System
!/application/Users

