*.DS_Store
*.log
*.zip
*.config.php
/cache/
/nbproject/
/kazisearchlib/
/test/
/tests/
/uploads/
/vendor/
/viewerjs/
TODO
/applications/*
!/applications/Contacts
!/applications/Media
!/applications/Notification
!/applications/Search
!/applications/Setup
!/applications/System
!/applications/Users

