
<ul class="iconmenu">
    {% if categories|length > 0 %}
        {% for category in categories %}
            <li>
                <a href="{{ web_base~'/admin/'~category.home_link }}" title="{{ category.title }}">
                    <img src="{{web_root~'/uploads/icons/'~category.alias~'.png'}}">
                </a>
                <small>{{ category.title }}</small>
            </li>
        {% endfor %}
    {% endif %}
</ul>
<div class="clearfix"></div>