
body{
    background: #F9F9F9;
}
body > .navbar-fixed-top {
    z-index: 1050;
}
body > .header {
    margin-top: 50px;
}
p{
    font-family: "Lato","Ubuntu","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 15px;
    line-height: 28px;
}

a, a:hover {
    color: #f15d22;
}

h1 a, h2 a, h3 a {
    color:#333;
}
h1 a:hover, h2 a:hover, h3 a:hover {
    color: #f15d22;
}

.header{
    background: white;
}
.header .container-wrapper{
    background: transparent !important;
    border-right: none;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx  Navigation */
.navbar-default{
    background: #2e265b;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a{
    color: white !important;
    font-size:16px;
}

.navbar-nav .btn-success,.navbar-nav .btn-danger{
    padding:5px 10px;
    margin:10px 5px;
}

.navbar-nav .btn-success:hover{
    background: #008d4c !important;
}

.navbar-nav .btn-danger:hover{
    background: #f4543c !important;
}

.mega-dropdown {
    position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}


.mega-dropdown li{
    float: left;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.user-menu  > .dropdown-menu {   
    z-index: 10000;
}




/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Main Content */
.container-wrapper{
    width:1100px;
    margin:0 auto;
    border-right: 1px solid #ddd;
    background: #EFEFEF !important;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Main Content */

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Sidebar */
.sidebar-wrapper{
    background: #EFEFEF !important;
    min-height: 400px;
}

.maincontent-wrapper{
    min-height: 400px;
    background: white;
    border: 1px solid #ddd;
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx Footer*/

.footer{
    background: url('themes/frontend/awesome/assets/images/footer-bg.jpg') #252525;
    padding: 10px 0;
    color: #FFF !important;
    border-top: 5px solid #EE183A;
    box-shadow: 0px -2px 5px #888;
}

.footer .container-wrapper{
    background: transparent !important;
    border-right: none;
    color:white;
}

.footer .container-wrapper .kazi-block{
    background: none;
}

.footer .container-wrapper .kazi-block h3{
    background: none;
    color: #FF851B;
}

.footer .container-wrapper > div{
    padding:0 5px;
}

.footer .container-wrapper .fa-facebook-square,
.footer .container-wrapper .fa-linkedin-square,
.footer .container-wrapper .fa-google-plus-square{
    color:white;
    font-size: 30px;
    text-align: center;
}

.footer .container-wrapper .fa-facebook-square:hover, .footer .container-wrapper .fa-facebook-square:focus{
    background: #3B5999;
}
.footer .container-wrapper .fa-linkedin-square:hover, .footer .container-wrapper .fa-linkedin-square:focus{
    background: #0073B2;
}
.footer .container-wrapper .fa-google-plus-square:hover,.footer .container-wrapper .fa-google-plus-square:focus{
    background: #D6412B;
}

.footer .container-wrapper .follow_us ul{
    list-style: none;
    padding:0;
}
.footer .container-wrapper .follow_us li{
    float: left;
    margin:0 5px;
}
.footer .container-wrapper .contact_us ul{
    list-style: none;
    padding:0;
}
.footer .container-wrapper .contact_us strong{
    width: 60px;
    display: inline-block;
}

.footer .container-wrapper .useful_links ul{
    list-style: none;
    padding:0;
}

.footer .container-wrapper .useful_links li{
    float:left;
    margin:5px;
    padding:2px 5px;
    border:1px solid #999;
    border-radius: 5px;
}

.registration-buttons{
    margin:40px 0;
}
.registration-buttons .btn-success{
    padding: 5px 10px;
}

.registration-buttons .btn-success div{
    padding:0;
}

.nav-tabs .tab-pane .form-horizontal, .nav-tabs .tab-pane .form-horizontal{
    margin: 10px;
}

.nav-tabs .nav-tabs li a, .nav-tabs .nav-tabs li a{
    padding : 5px;
    border-radius: 0;
}

.nav-tabs .nav-tabs li.active a, .nav-tabs .nav-tabs li.active a{                                     
    background: #367fa9;
    color:white;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: transparent;
}

.sidebar_block{
    margin-top:10px;
}

.kazi-block{
    padding:5px;
    margin-bottom: 10px;
    background: white;
}

.kazi-block h3{
    background: #FF851B;
    color:white;
}

.kazi-block h3.block-title{
    margin-top:0;
    background: #00AFEC;
    color:white;
    padding:5px;
}
.kazi-block h3 a{
    color:white;
}

.top_menu .kazi-block {
    padding: 0;
    margin-bottom: 0;
    background: white;
}

.component-header{
    padding:5px;
    margin-bottom: 10px;
    border-bottom:2px solid #f15d22;
}

.mega-submenu{
    padding:10px 0;
}

.mega-submenu li{
    font-size: 18px;
    border-bottom:1px dotted #ddd;
    width: 100%;
}

.mega-submenu li a{
    color:#f15d22 !important;
}

.latest_contents_block .nav{
    background: #F7F7F7;
}
.latest_contents_block .latest_grey_nav{
    background: #FAFAFA;
}

.latest_contents_block .nav li.active a {
    background: #DDD !important;
}

.search_block h3.block-title{
    background: none;
}

#pop-block button.close{
    color:red;
    margin-top: -10px;
    opacity: 1;
    text-shadow: none;
}
#pop-block .kazi-block{
    margin:10px;
}
#pop-block h3.block-title{
    background: none;
}
#pop-block .newsletter-subscription{
    padding:20px 10px;

}
#pop-block .newsletter-subscription .col-md-6, #pop-block .newsletter-subscription .col-md-4{
    width: 100% !important;
}

#contest-slideShow h1 {
    background-color: rgba(0,0,0,0.5);
    color:white;
    border-radius: 5px;
    padding:10px;
}

.blogslider-wrapper .carousel-inner > .item {
    height: 350px;
}

.blogslider-wrapper .carousel-caption{
    background-color:rgba(0, 0, 0, 0.3);;
    bottom: 15px;
    right: 0;
    left: 0;
}
.blogslider-wrapper .carousel-caption h3{
    margin:5px;
}
.blogslider-wrapper .carousel-caption p{
    margin:0;
    line-height: 15px;
}
.blogslider-wrapper .carousel-caption a{
    color:white; 
}
.blogslider-wrapper .carousel-caption a:hover, .blogslider-wrapper .carousel-caption a:focus{
    color: #c00;
}

.slider_block_block .item > img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.sidebar_block_block  img{
     width: 100% !important;
}







