<div class="form-group highlight element-wrapper" element_type="textarea">
    <label for="textarea_id">Textarea Label</label>
    <textarea class="form-control" placeholder="Textarea Text" id="textarea_id"></textarea>
</div>