{# empty Twig template #}
<b>NOTE:</b><br>
<ul>
    <li>
        if You Select <b>"Every Weekday"</b> and Start Date and End Date  falls on <b>Weekend</b> it will not be shown on the calendar.<br>
    </li>
    <li>
        also You Select <b>"Every Weekend"</b> and Start Date and End Date  falls on <b>Weekday</b> it will not be shown on the calendar.
    </li>
</ul>