<div class="form-group highlight element-wrapper" element_type="text">
    <label for="text_id">Text Label</label>
    <input type="text" class="form-control" id="text_id" placeholder="Text Text">
</div>