{# empty Twig template #}

{% import "form.macro.twig" as forms %}

<h1> You are now unsuscribed from the following Email Detail</h1>

{{ forms.input('name', 'text', subscriber.name, 'Name', null, null, null, 1)  }}
{{ forms.input('email', 'text', subscriber.email, 'Email', null, null, null, 1)  }}
{{ forms.input('date_created', 'text', subscriber.date_created, 'Date Created', null, null, null, 1)  }}

<div class="text-center">
    <a class="btn btn-success btn-md" href="{{ generate_url('home') }}"> Go To Home Page</a>
</div>