<!-- Modal -->
<div class="modal fade form-horizontal" id="followModal" tabindex="-1" role="dialog" aria-labelledby="followModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="subsetModalLabel">Add Followers</h4>
            </div>
            <div class="modal-body" id="kazi-potential-followers">
                <div class="users_to_add_follow"></div>
                <div class="clearfix"></div>
                <ul class="pager">
                    <li class="previous disabled"><a href="#" title="Previous">&larr; Previous</a></li>
                    <li class="page_count">Page 1 of 20</li>
                    <li class="next disabled"><a href="#" title="Next">Next &rarr;</a></li>
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->