{# empty Twig template #}

{% import "form.macro.twig" as forms %}

{% set item = getContext('item')%}

{% set repeated_on = getContext('repeated_on')%}
<div class="form-group repeated_on-group">
    <label for="repeated_on" class="col-sm-3 control-label">Repeated On</label>
    <div class="col-sm-9 kazicode-form-field">
        {{ forms.input('repeated_on','checkbox', json_decode(item.repeated_on), null, null, null, null, null, repeated_on) }}
    </div>
</div>

<style>
    .repeated_on-group ul{
        list-style: none;
    }

    .repeated_on-group ul li{
        float: left;
        margin-right: 10px;
    }
</style>
