{# empty Twig template #}
<h1> Thank You For Registering</h1>

This site is very concerned about security and therefore it requires you to verify your email address.

An email has been sent to you, it contains a special link which verifies you and allows you to log in freely. This verification is required only once for this email address.

Please check your email and verify your email address now.

</br>
</br>
</br>

<div class="text-center">
    <a class="btn btn-success btn-sm" href="{{ web_root }}" title='Back to Homepage'> Back to Homepage</a>
</div>