{# empty Twig template #}

<div class="sbc_four_steps service">


    <div class="content-boxes-v7">
        <i class="fa fa-user-plus fa-3x pull-left g-theme-text-color-1"></i>
        <div class="content-boxes-in-v7">
            <b class="text-red"><strong>Create a FREE Account in Seconds.</strong></b>
            <p>
                SocialBizConnect is FREE to JOIN.
                Simply Sign Up for FREE and you are Ready to Connect with Your Friends.
                Confirm You are Joining under the Person who referred you to SBC
                <br>
            </p>
        </div>
    </div>

    <div class="content-boxes-v7">
        <i class="fa fa-briefcase fa-3x pull-left g-theme-text-color-1"></i>
        <div class="content-boxes-in-v7">
            <b class="text-red"><strong>Upgrade to PREMIUM. (OPTIONAL)</strong></b>
            <p>
                SocialBizConnect gives you a Huge Collection Of Premium Professional Products,
                Tools & Advertising.
                These Include Internet Marketing Tools, E-learning, Advertising and Premium
                Social Networking Features Never Seen Before See Products.
                <br>
            </p>
        </div>
    </div>

    <div class="content-boxes-v7">
        <i class="fa fa-users fa-3x pull-left g-theme-text-color-1"></i>
        <div class="content-boxes-in-v7">
            <b class="text-red"><strong>Connect With Friends & Socialize.</strong></b>
            <p>
                Have Fun.! Invite Friends, Creating groups, Create Events, build relationships,
                Play games, Advertise, Post and Find Jobs, Sell and Buy in the Marketplace.
                SocialBizConnect Helps you to Build and Expand your Network of Friends
                <br>
            </p>
        </div>
    </div>

    <div class="content-boxes-v7">
        <i class="fa fa-money fa-3x pull-left g-theme-text-color-1"></i>
        <div class="content-boxes-in-v7">
            <b class="text-red"><strong>Earn a Lucrative Lifetime Income</strong></b>
            <p>
                Only SocialBizConnect allows you to Monetize and cash in
                on your connections and Social Networks. The more you
                share our products with those you know, the more you can earn.
                You Earn Money from ALL SocialBizConnect Products Subscriptions
                Personally referred by You and Your Entire Sales team 6 Levels Deep.
                We Pay our Members up to 80% of Sales Revenue Collected by SBC.
                See the SBC Payplan. https://www.socialbizconnect.com/payplan 
                <br>
            </p>
        </div>
    </div>

</div>