{{ set_assets('assets/js/highcharts/highcharts.js','main') }}
{{ set_assets('assets/js/kazist/kazist_chart.js','other') }}

{% set random_no = random(500) %}

<div class="chart">
    <div id="kazi_bar_chart" style="height: 250px;" > </div>
    <div class="clearfix"></div>
    <script>
        var kazi_bar_chart;
        jQuery(document).ready(function () {
            var width = jQuery('#kazi_bar_chart').parent().css('width');
            console.log(width);
            // Use Morris.Bar
            kazi_bar_chart = Morris.Bar({
                element: 'kazi_bar_chart',
                resize: true,
                data: [{% if items|length > 0 %}
        {% for item in items %}
                        {y: '{{ item.text }}', a: {{ item.summation }}  },{% endfor %}
            {% endif %}                    
                    ],
                    barColors: ['#00a65a', '#f56954'],
                    xkey: 'y',
                    ykeys: ['a'],
                    labels: ['Chart'],
                    hideHover: 'auto'
                }).on('click', function (i, row) {
                    console.log(i, row);
                });
                kazi_bar_chart.redraw();
            })
            </script>
        </div>