<div class="form-group highlight element-wrapper" element_type="wysiwyg">
    <label for="wysiwyg_id">Wysiwyg Label</label>
    <textarea class="form-control kazist-editor" placeholder="Wysiwyg Text" id="wysiwyg_id"></textarea>
</div>