{# empty Twig template #}

<div class="form-group summary-group">
    <label for="summary" class="col-sm-3 control-label">Summary</label>
    <div class="col-sm-9 kazicode-form-field">
        <b>Daily</b>
    </div>
</div>
