/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 4, 2015, 5:18:38 PM
    Author     : sbc
*/

.search-result-list .search-result{
    margin-bottom: 20px;
    border:1px dotted #ddd;
    padding:5px;
}

.search-result-list .search-result img{
    margin:10px;
}

.search-result-list .no-result{
    font-size: 36px;
    text-align: center;
}